<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>
  <system.webServer>
    <handlers>
      <add verb="*" path="search_places" type="SOFT338HttpHandler" name="searchPlacesHttpHandler"/>
      <add verb="*" path="events" type="SOFT338HttpHandler" name="eventsHttpHandler"/>
    </handlers>
  </system.webServer>

  <connectionStrings>
    <add name="SOFT338_ConnectionString" connectionString="Data Source=xserve.uopnet.plymouth.ac.uk;Initial Catalog=SOFT338_AStevenson;Persist Security Info=True;User ID=AStevenson;Password=SOFT338_10164661"/>
  </connectionStrings>
  
</configuration>
